
<div id="width-r">
	<%= image_tag("wood1.jpg", class: "inside so-1 clipp")  %>
	<%= image_tag("wood2.jpg",class: "inside so-2 clippp" ) %>
	<%= image_tag("wood3.jpg", class: "inside so-3 clippp")  %>
	<%= image_tag("wood4.jpg", class: "inside so-4 clippp")  %>
	<%= image_tag("wood5.jpg", class: "inside so-5")  %>

</div>

