
<div class="container-fluid" id="width-r">
	<div class="this">
		<%= image_tag("wood1.jpg", class: "inside")  %>
	</div>
	<div class="this">
		<%= image_tag("wood2.jpg",class: "inside" ) %>
	</div>
	<div class="this">
		<%= image_tag("wood3.jpg", class: "inside")  %>
	</div>
	<div class="this">
		<%= image_tag("wood4.jpg", class: "inside")  %>
		</div>
	<div class="this">
		<%= image_tag("wood5.jpg", class: "inside")  %>
	</div>

</div>
<div class="jumbotron">
	<h1 align="center"> Here come the ads</h1>
</div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript"> 
		$(document).ready(function(){
		  $(".inside").mouseover(function(){
		  	$(this).css('z-index', '100');
		    $(this).animate({width: "105%"},"slow");
		   });
	 		$(".inside").mouseout(function(){
	 			$(this).css("z-index", '');
	    	$(this).animate({width: "100%"},"slow");
	   	});
		});
</script>
