
<div class="container-fluid" id="width-r">
	<div class="this">
		<%= image_tag("wood1.jpg", class: "inside")  %>
	</div>
	<div class="this">
		<%= image_tag("wood2.jpg",class: "inside" ) %>
	</div>
	<div class="this">
		<%= image_tag("wood3.jpg", class: "inside")  %>
	</div>
	<div class="this">
		<%= image_tag("wood4.jpg", class: "inside")  %>
		</div>
	<div class="this">
		<%= image_tag("wood5.jpg", class: "inside")  %>
	</div>

</div>
<div class="jumbotron">
	<h1 align="center"> Here come the ads</h1>
</div>
