<div class="row">
	<div class="col-md-6">
		<div class="well well-f">

			<%= form_for @inside_image do |f| %>
				<div class="form-group">
						<%= f.label :picture %>
				    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
			  </div>
			  <div class="form-group">
					<%= f.label :Description %>
			    <%= f.text_area :description, rows: 5, class: 'form-control' %>
			  </div>
			<% end %>

		</div>
	</div>
</div>