<div class="row">
	<div class="col-md-12 text-center">
		<div class="well well-coll">
			<ul class="category-show-p">
				<li><h1><%= @category.name %></h1></li>
				<li><%= image_tag(@category.profile_image.url, class: "img-thumbnail") %></li><br/>
				<li><p><%= @category.description %></p></li>
			</ul>	
				<div class="col-md-10 col-md-offset-1">
					<div class="jumbotron jumbotron-category">

					</div>
					<div class="btn-category-s"><%= link_to "Upload New Image", new_category_image_path(@category), class: "btn btn-lg btn-success"%></div>
					<% @category.images.each do |image| %>
						<div class="col-md-6" id= "panel_<%= image.id %>">
							
								<div class="panel panel-default panel-show">
									<div class="panel-body panel-body-show">
										<%= link_to image_tag(image.photo.url(:thumb), class: "img-in img-responsive img-rounded"), category_image_path(@category, image) %>
										<%= link_to "delete", category_image_path(@category, image), method: :delete, data: {confirm: "Are you sure?"}, remote: true %> 					  <%= link_to "edit", edit_category_image_path(@category, image) %>
										<ul class="imgs-tables">	
											<li><h2><%= image.i_name %></h2></li>
											<hr class="for-title">
											<li class="second-one"><p><%= image.i_bio %></p></li>
											<% if image.price %>
												<li class="price-title"><h3> Price: </h3> </li> <li class="price-li"><h4 class="for-price"><%= image.price %><i class="fa fa-ils"></i></h4></li><br/>
												<hr class="price-line-up">
												<hr class="price-line-down">
											<% end %>
										</ul>
									<ul class="sub-images-show">	
										<% image.sub_images.each do |sub_image| %>
											<li><%= image_tag(sub_image.small_image.url(:small))  %></li>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
					<% end %>
				</div>
		</div>
	</div>
</div>

